* {
    margin: 0;
    text-decoration: none;
}

.head {
    background-color: cadetblue;
}
nav {
    height: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav a {
    text-decoration: none;
    text-align: right;
    color: white;

}

.container {
    height: 1100px;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}

.box {
    background-color: darkseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    height: 400px;
    width: 400px;
}

footer {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: right;
    color: white;
    background-color: cadetblue;
}